{% extends 'base.html' %}
{% load static %}
{% block content %}


<h1>First Tea's Cart</h1>

<div class='row'>
        <div class='column'>
            <div class='welcome-img'>
                <img src= "{% static '/img/shop.jpeg' %}">
            </div>
        </div>

        <div class='column'>
            <div class='welcomeText'>
                <h4>Welcome to our shop</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vitae placerat lacus, eu tincidunt est. Nulla cursus, massa id rutrum vehicula, augue leo tristique elit, eu lobortis sapien enim sed turpis. Curabitur lacinia dui at augue pretium, sit amet dapibus urna varius. Nulla ultrices turpis ac est auctor sodales. Sed diam dui, pulvinar a lacinia ut, pharetra in sapien. Praesent dapibus scelerisque laoreet. Sed eget enim lobortis, tempus nulla et, luctus elit. Fusce pharetra tellus eros, vel feugiat magna sodales eget. Morbi ultrices id odio sit amet cursus. Aliquam erat volutpat. Suspendisse vel auctor turpis, eu maximus nunc. Sed varius nulla sit amet semper finibus.</p>

            </div>
        </div>
    </div>




{% endblock %}